.App {
    text-align: center;
    min-height: 100vh;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: #f0f0f0;
}

/* Light mode styles */
body.light-mode {
    background-color: #f0f0f0;
    color: #121212;
}